In [1]:
import pandas as pd
import os

In [2]:
Input_path='./Dataset-1/2nd'

In [3]:
CareArea=os.path.join(Input_path,"CareAreas.csv")

In [4]:
MetaPath=os.path.join(Input_path,"metadata.csv")

In [5]:
columns_coordinate=['ID','x1','x2','y1','y2']

In [6]:
df_careArea=pd.read_csv(CareArea,names=columns_coordinate)

In [7]:
df_careArea

      ID   x1   x2   y1   y2
0      0    0    2    0    2
1      1    0    2   42   44
2      2    0    2   84   86
3      3    0    2  126  128
4      4    0    2  168  170
..   ...  ...  ...  ...  ...
237  237  882  884  252  254
238  238  882  884  294  296
239  239  882  884  336  338
240  240  882  884  378  380
241  241  882  884  420  422

[242 rows x 5 columns]

In [8]:
df_metadata=pd.read_csv(MetaPath)

In [9]:
df_metadata

   Main Field Size  Sub Field Size
0              100            2.56

In [20]:
#MainField coordinates
datas=[]
#Sub fields coordintes
subfields=[]
#subfield size
sub_side=df_metadata.iat[0,1]
main_side=df_metadata.iat[0,0]
def set_mainframe():
    num=0
    for index,row in df_careArea.iterrows():
        data=[]
        x1=df_careArea.iat[index,1]
        y1=df_careArea.iat[index,3]
        x_c=df_careArea.iat[index,2]
        y_c=df_careArea.iat[index,4]
        x2=x1+main_side
        y2=y1+main_side
        flag=True
        for d in datas:
            if(d[1]>=x1 and d[2]>=x and 
        #set_subfield(x1,y1,x2,y2,x_c,y_c,index,num)
        data.append(index)
        data.append(x1)
        data.append(x2)
        data.append(y1)
        data.append(y2)
        datas.append(data)                    
    df_main=pd.DataFrame(datas,columns=None)
    return df_main

In [21]:
df=set_mainframe()
df.to_csv("MainFrameSample2.csv",header=False,index=False)
df_subfield=pd.DataFrame(subfields,columns=None)
df_subfield.to_csv("SubField2.csv",header=False,index=False)
df_subfield

Empty DataFrame
Columns: []
Index: []

In [12]:
def set_subfield(x1,y1,x2,y2,x_c,y_c,index,num):
    subfield=[]
    subfield.append(num)
    num=num+1
    subfield.append(x1)
    x_m=x1+sub_side
    y_m=y1+sub_side
    subfield.append(x_m)
    subfield.append(y1)
    subfield.append(y_m)
    subfield.append(index)
    subfields.append(subfield)
    while(x_m<=x2 and y_m<=y2):
        sub=[]
        if(x_m>=x_c and y_m<y_c):
            x_m=x1
            y1=y_m
            y_m=y_m+sub_side
            continue;
        if(x_m>x_c and y_m>y_c):
            break;
        x_2=x_m+sub_side
        sub.append(num)
        num=num+1
        sub.append(x_m)
        sub.append(x_2)
        sub.append(y1)
        sub.append(y_m)
        sub.append(index)
        x_m=x_2
        subfields.append(sub)